/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  color: green;
  background-color: red;
}

/* target the dark mode like this */

[data-theme="dark"] body {
  color: red;
  background-color: green;
}